body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://www.elsetge.cat/myimg/f/25-255919_landscape-portrait-sports-car..jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}