.jumbotron {
    min-height: 300px;
    padding-top: 100px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 80%;
    text-align: center;
    background-color: rgba(219, 131, 31, 0.5)
}