.footer {
    min-height: 100px;
    /* position: relative; */
    /* left: 0; */
    /* bottom: -100px; */
    width: 100%;
    background-color: #b67e29;
    color: white;
    text-align: center;
    /* flex-shrink: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    align-self: flex-end;
}

  
  .footer span {
    /* bottom: 0; */
    /* left: 0; */
    width: 100%;
    /* right: 0; */
    padding: 3px;
    /* background-color: #2d5959; */
    font-family: "Roboto, sans-serif";
  }